@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



body {
    font-family: "Montserrat",sans-serif;
}

.container-navbar {
    background-color: #374259;
    color: #fff
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.brand span {
    color: aqua
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around
}

    .menu li {
        list-style: none
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }

    .menu .active {
        color: aqua
    }

    .menu a:hover {
        background-color: #0096FF;
        border-radius: 2rem;
        color: #41444B;
        transition: ease-in .4s;
    }

