@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



body {
    font-family: "Montserrat",sans-serif;
}

.container-Contact {
    background-color: #374259;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-Contact h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:28px;
    text-align:center
}

.container-Contact form {
    width: 30rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://th.bing.com/th/id/R.6c451bd0d1a0f6281444e5bf88b367c3?rik=GNkQd1jshS19vA&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    height: auto;
    border: .4rem solid #007bff;
    border-end-start-radius: 2rem;
    border-start-start-radius: 3rem;
    margin-top:40px
}

.container-Contact form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 9px;
    color: #333333; 
    font-weight: bold; 
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Enviar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100%
}

    Enviar:hover {
        background-color: #0056b3;
    }
