.landing {
    background-color: #374259;
    align-items: center;
    justify-content: center;
    height: 45rem;
    flex-direction: row;
    display: flex;
    min-height: 100vh;
}
.tecnology {
    background-color: #374259;
   
    
}
.icons {
    background-color: #374259;
    display: flex;
    justify-content:center;
   
    
}
    .icons img {
        width: 60px;
        margin: 10px;
        display: flex;
        background-color: transparent;
    }

.tecnology img {
    border: 1px solid transparent;
    box-shadow: 0 0 1px #AAC4FF, 0 0 3px #AAC4FF, 0 0 1px #00ff00, 0 0 10px #AAC4FF, 0 0 25px #AAC4FF, 0 0 40px #AAC4FF, 0 0 20px #AAC4FF, 0 0 35px #AAC4FF;
    animation: neon-glow 1s ease-in-out infinite;
    width: 25rem;
    margin: auto;
    display: block;
    border-radius: 2rem;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 5px #AAC4FF, 0 0 10px #AAC4FF, 0 0 15px #AAC4FF, 0 0 20px #AAC4FF, 0 0 35px #AAC4FF, 0 0 40px #AAC4FF, 0 0 50px #AAC4FF, 0 0 75px #AAC4FF;
    }

    50% {
        box-shadow: 0 0 10px #AAC4FF, 0 0 20px #AAC4FF, 0 0 30px #AAC4FF, 0 0 40px #AAC4FF, 0 0 70px #AAC4FF, 0 0 80px #AAC4FF, 0 0 100px #AAC4FF, 0 0 150px #AAC4FF;
    }

    100% {
        box-shadow: 0 0 5px #AAC4FF, 0 0 10px #AAC4FF, 0 0 15px #AAC4FF, 0 0 20px #AAC4FF, 0 0 35px #AAC4FF, 0 0 40px #AAC4FF, 0 0 50px #AAC4FF, 0 0 75px #AAC4FF;
    }
}

.tecnology h2 {
    text-align: center;
    font-size: 60px;
    font-family: fantasy
}
    
.info h1 {
    margin-top: 2rem
}
.info {
    width: 50%;
    height:40%;
    text-align: center;
    color: black;
    margin-top: 10px;
    font-family:cursive, sans-serif;
    font-size:20px;
    background-color: #2E8A99;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    margin-left:10rem


  
}
    .info span {
        color: aquamarine
    }
.download-cv {
    background-color: #4FC0D0;
    border-radius: 10px;
    padding: 10px;
    color: #2B2730;

    


}
    .download-cv:hover {
        background-color: #3BACBB;
        cursor: move;
        cursor: pointer;
    }


.photo {
    display: flex;
    position: relative; 
    overflow: hidden; 
    margin-left:8rem
}

    .photo img {
        max-width: 100%;
        width: 18rem;
        height: auto;
        border-radius: 8rem;
        background-color: #4E4FEB;
        border: solid 5px #4E4FEB;
    }

   
    
    .photo:hover img {
        transform: rotateY(180deg);
        transition:ease-in 2s;
        border:solid 5px red
    }
.ciberseguridad {
    background-color: #374259;
   
   
}
    .ciberseguridad h2 {
        text-align: center;
        font-size: 50px;
        font-family: 'Global User Interface'
    }
    .ciberseguridad p {
        text-align: left;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left:5rem
    }

    .ciberseguridad  li {
        margin-left:5rem;
        text-align:left;
        font-size: 19px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:antiquewhite
    }