@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box
    
}

body {
    font-family: "Montserrat",sans-serif;
}


.proyectos {
    background-color: #374259;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    min-height: 100vh;
    
}
.card{
    width:18rem;
    height:36rem;
    margin-left:3.7rem;
    margin-top:1rem
}
.card img{
    width: 200px;
    height:220px;
    display:flex;
    margin:auto;
    border-radius:4rem;
    background-color:transparent;
    margin-top:2rem
    
}

.card-body a {
    margin-top: 10px;
    margin-left: 1rem;
    display: inline-block;
}
.card-body h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #7286D3
}
.card-body {
    height: 200px;
    overflow: auto;
    display: flex;
    float: left;
}

.card-body p {
    font-family: cursive;
    font-size: 20px;
    color: black;
}